<a href="https://colab.research.google.com/github/C4st3ll4n/portfolio_python_breast_cancer/blob/main/portfolio_data_breastcancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [29]:
data = pd.read_table('breast-cancer-wisconsin.data', sep=',',index_col=0, header=None,
                     names=['id','thickness','cell_size','cell_shape',
    'adhesion', 'epithelial_cell_size','bare_nuclei',
                     'bland_chromatin','normal_nucleoli','mitoses', 'class'],
                     )
#names = pd.read_table('breast-cancer-wisconsin.names')
#data.columns = names

In [30]:
data.head()

         thickness  cell_size  cell_shape  ...  normal_nucleoli  mitoses class
id                                         ...
1000025          5          1           1  ...                1        1     2
1002945          5          4           4  ...                2        1     2
1015425          3          1           1  ...                1        1     2
1016277          6          8           8  ...                7        1     2
1017023          4          1           1  ...                1        1     2

[5 rows x 10 columns]

In [34]:
data.shape

(699, 10)

In [41]:
#Quantidade de valores que não são NaN
data.notna().sum() - data.shape[0]

thickness               0
cell_size               0
cell_shape              0
adhesion                0
epithelial_cell_size    0
bare_nuclei             0
bland_chromatin         0
normal_nucleoli         0
mitoses                 0
class                   0
dtype: int64

In [43]:
#Quantidade de valores que não são nulos
data.notnull().sum() - data.shape[0]

thickness               0
cell_size               0
cell_shape              0
adhesion                0
epithelial_cell_size    0
bare_nuclei             0
bland_chromatin         0
normal_nucleoli         0
mitoses                 0
class                   0
dtype: int64

In [42]:
#Caso houvesse algum dado NaN
data.dropna(inplace=True)

In [45]:
#Quantidade de registros duplicados
data.duplicated().sum()

236

In [46]:
#Remover registro duplicados
data.drop_duplicates(inplace=True)

In [49]:
#Após exclusão de duplicados
data.duplicated().sum()

0